<% days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>
<% hours = (0..23).to_a %>

<table>
  <tr>
    <th>Day</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% days.each do |day| %>
    <tr>
      <td><%= day %></td>
      <td>
        <select>
          <% hours.each do |hour| %>
            <option value="<%= hour %>"><%= hour %>:00</option>
          <% end %>
        </select>
      </td>
      <td>
        <select>
          <% hours.each do |hour| %>
            <option value="<%= hour %>"><%= hour %>:00</option>
          <% end %>
        </select>
      </td>
    </tr>
  <% end %>
</table>

<p>Id: <%= @shift.id %></p>