<h1>各時間に必要な人数</h1>

<%= form_with(model: Shift.new, url: shifts_path, method: :post) do |form| %>
  <table border="1">
    <thead>
      <tr>
        <th></th> <!-- Empty cell for spacing -->
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>
    <tbody>
      <% (0..47).each do |time| %>
        <tr>
          <td> <!-- Format as 00:00, 00:30, 01:00, ..., 23:30 -->
            <%= format('%02d', (time * 30) / 60) %>:<%= format('%02d', (time * 30) % 60) %>
          </td> 
          <% (0..6).each do |week_day| %>
            <td>
              <%= form.number_field "week_day_#{time}_#{week_day}", value: 0 %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form.submit "Save" %>
<% end %>