<% japanese_days = ["月", "火", "水", "木", "金", "土", "日"] %>
<% hours = (0..23).to_a %>

<button id="showTable">入力する</button>


<table id="myTable" style="display: none;">
  <tr>
    <th>Day</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% japanese_days.each do |day| %>
    <tr>
      <td><%= day %></td>
      <td>
        <select>
          <% hours.each do |hour| %>
            <option value="<%= hour %>"><%= hour %>:00</option>
          <% end %>
        </select>
      </td>
      <td>
        <select>
          <% hours.each do |hour| %>
            <option value="<%= hour %>"><%= hour %>:00</option>
          <% end %>
        </select>
      </td>
    </tr>
  <% end %>
</table>


<%= form_with(model: WorkerDesire.new, url: worker_desires_path, method: :post) do |form| %>
  <%= form.number_field :shift_id, id: "shiftID", style: "display: none;", value: @shift.id %>
  <div id="inputFields" style="display: none;">
    <label for="name">名前:</label><br>
    <%= form.text_field :name, id: "name" %><br>
    <label for="comment">コメント:</label><br>
    <%= form.text_area :comment, id: "comment" %><br>
    <% days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %>
    <% days.each do |day| %>
      <%= form.hidden_field "start_time_#{day}".to_sym, id: "start_time_#{day}" %>
      <%= form.hidden_field "end_time_#{day}".to_sym, id: "end_time_#{day}" %>
    <% end %>
    <%= form.submit "提出する", id: "submitButton" %>
  </div>
<% end %> 


<script>
// 「入力する」ボタンを押したときにテーブルなどを表示して、ボタンを非表示にする
  document.getElementById('showTable').addEventListener('click', function() {
    document.getElementById('myTable').style.display = 'table';
    this.style.display = 'none';
    document.getElementById('inputFields').style.display = 'block';
    document.getElementById('submitButton').style.display = 'block';
  });

  document.getElementById('submitButton').addEventListener('click', function() {
    // 「提出する」ボタンを押したときに始めの状態に戻す
    document.getElementById('myTable').style.display = 'none';
    this.style.display = 'none';
    document.getElementById('inputFields').style.display = 'none';
    document.getElementById('showTable').style.display = 'block';

    // テーブルの値をフォームに入れる
    var days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'];
    var rows = document.getElementById('myTable').getElementsByTagName('tr');
    for (var i = 1; i < rows.length; i++) {
      var day = days[i-1];
      var startTimeSelect = rows[i].getElementsByTagName('select')[0];
      var endTimeSelect = rows[i].getElementsByTagName('select')[1];
      document.getElementById('start_time_' + day).value = startTimeSelect.options[startTimeSelect.selectedIndex].value;
      document.getElementById('end_time_' + day).value = endTimeSelect.options[endTimeSelect.selectedIndex].value;
    }
  });
</script>